#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
pyhcl~=0.4.4
pyyaml~=5.3.1
colored~=1.4.2
schema~=0.7.2
colorama~=0.4.3